.answer_list li{
    border-bottom: 1px solid gray;
    list-style: none;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.answer_list li:first-letter{
    text-transform: capitalize;
}

.answer_list li:first-child{
    margin-top: 30px;
}

.vote-button{
    position: absolute;
    top: 5%;
    right: -10%;
    text-align: -webkit-center;
}
.vote-button .vote-up, .vote-button .vote-down {
    cursor: pointer;
}
